{% extends "base.html" %}

{% block content %}
<h2>Login</h2>

<form method="post">
    {{ form.hidden_tag() }}

    <label for="username">{{ form.username.label }}</label> <br>
    {{ form.username(size=32, placeholder="Username", title="Enter your username", autofocus=form.username.errors) }}
    {% for error in form.username.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}<br>

    <label for="password">{{ form.password.label }}</label> <br>
    {{ form.password(size=32, placeholder="Password", title="Enter your password", id="password") }}
    <input type="checkbox" onclick="togglePassword()"> Show Password
    {% for error in form.password.errors %}
    <span class="form-error">{{ error }}</span>
    {% endfor %}<br>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<script>
    function togglePassword() {
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>

<div class="form-group">
    <a href="{{ url_for('google.login') }}" class="btn btn-google">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google"
            style="width:20px;vertical-align:middle;margin-right:8px;"> Sign in with Google
    </a>
</div>

<div class="border-top pt-3">
    <small class="text-muted">
        <a class="ml-2" href="{{ url_for('auth.reset_request') }}">Forgot Password?</a>
    </small>
</div>
<p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
{% endblock %}